Eithar Elfatih Burie Abdelrahman  Batch DS2403

In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
import time
from selenium.common.exceptions import NoSuchElementException, ElementNotInteractableException
import requests
import warnings
warnings.filterwarnings('ignore')

__________________

__1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank
B) Name
C) Artist
D) Upload date
E) Views__

In [300]:
#open driver 
driver=webdriver.Chrome()
#open website
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.maximize_window()

In [301]:
#create lists for details to be scraped 
Rank_1=[]
Name_1=[]
Artist_1=[]
Upload_date_1=[]
Views_1=[]


#2. scrap each detail and print length to assure the same 

try: 
    name_tags=driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in name_tags:
        name=i.text
        Name_1.append(name)
except NOSuchElementException:
    name.append('No details available')
except StaleReferenceException:
    name.append('No details available')
    
    
print(len(Name_1))

try:
    artist_tags=driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"][1]/tbody/tr/td[2]')
    for i in artist_tags:
        artist=i.text
        Artist_1.append(artist)
except NOSuchElementException:
    name.append('No details available')
except StaleReferenceException:
    name.append('No details available')
    
print(len(Artist_1))

try:
    upload_tags=driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"][1]/tbody/tr/td[4]')
    for i in upload_tags:
        upload=i.text
        Upload_date_1.append(upload)
except NOSuchElementException:
    name.append('No details available')
except StaleReferenceException:
    name.append('No details available')
    
    
print(len(Upload_date_1))

try:
    views_tags=driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"][1]/tbody/tr/td[3]')
    for i in views_tags:
        views=i.text
        Views_1.append(views)
except NOSuchElementException:
    name.append('No details available')
except StaleReferenceException:
    name.append('No details available')
    
    
print(len(Views_1))

#close driver
driver.close()

30
30
30
30

In [302]:
df_1=pd.DataFrame({
    'Name of Song':Name_1,
    'Artist':Artist_1,
    'Upload Date':Upload_date_1,
    'Views':Views_1,
})
df_1.index=df_1.index + 1
df_1

,Name of Song,Artist,Upload Date,Views
1,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.52
2,"""Despacito""[10]",Luis Fonsi,"January 12, 2017",8.44
3,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.91
4,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.70
5,"""See You Again""[20]",Wiz Khalifa,"April 6, 2015",6.27
6,"""Shape of You""[25]",Ed Sheeran,"January 30, 2017",6.26
7,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,"May 24, 2018",6.13
8,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.80
9,"""Uptown Funk""[30]",Mark Ronson,"November 19, 2014",5.23
10,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.15
11,"""Learning Colors â€“ Colorful Eggs on a Farm""[36]",Miroshka TV,"February 27, 2018",5.11
12,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.63
13,"""Masha and the Bear â€“ Recipe for Disaster""[38]",Get Movies,"January 31, 2012",4.58
14,"""Axel F""[39]",Crazy Frog,"June 16, 2009",4.54
15,"""Baa Baa Black Sheep""[40]",Cocomelon - Nursery Rhymes,"June 25, 2018",4.05
16,"""Sugar""[41]",Maroon 5,"January 14, 2015",4.05
17,"""Lakdi Ki Kathi""[42]",Jingle Toons,"June 14, 2018",4.04
18,"""Counting Stars""[43]",OneRepublic,"May 31, 2013",4.02
19,"""Roar""[44]",Katy Perry,"September 5, 2013",4.00
20,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.93
21,"""Shree Hanuman Chalisa""[46]",T-Series Bhakti Sagar,"May 10, 2011",3.84
22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.81
23,"""Sorry""[48]",Justin Bieber,"October 22, 2015",3.80
24,"""Thinking Out Loud""[49]",Ed Sheeran,"October 7, 2014",3.77
25,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.74
26,"""Dark Horse""[51]",Katy Perry,"February 20, 2014",3.72
27,"""Let Her Go""[52]",Passenger,"July 25, 2012",3.66
28,"""Faded""[53]",Alan Walker,"December 3, 2015",3.63
29,"""Girls Like You""[54]",Maroon 5,"May 31, 2018",3.61
30,"""Lean On""[55]",Major Lazer Official,"March 22, 2015",3.60

___________________

__2. Scrape the details team Indiaâ€™s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code__

In [303]:
#open chrome driver
driver=webdriver.Chrome()
time.sleep(2)
#open wikipedia webpage to be scrapped
driver.get('https://www.bcci.tv/.')
time.sleep(2)# seconds
driver.maximize_window()

In [304]:
#click fixtures and results
button_1=driver.find_element(By.XPATH, "//div[@class='imw-tabs international-tabs']/a[2]")
button_1.click()
time.sleep(3)

In [305]:
#create lists fot details
Series_2=[]
Place_2=[]
Date_2=[]
Time_note_2=[]

#scrap details for each and print length to assure the same to create dataframe
try:
    series_tags=driver.find_elements(By.XPATH, "//h5[@class='match-tournament-name ng-binding']")
    for i in series_tags:
        series=i.text
        Series_2.append(series)
except NOSuchElementException:
    name.append('No details available')

print(len(Series_2))

try:
    place_tags=driver.find_elements(By.XPATH, "//span[@class='ng-binding ng-scope']")
    for i in place_tags:
        place=i.text
        Place_2.append(place)
except NOSuchElementException:
    place.append('No details available')

print(len(Place_2))

try:
    date_tags=driver.find_elements(By.XPATH, "//div[@class='match-dates ng-binding']")
    for i in date_tags:
        date=i.text
        Date_2.append(date)
except NOSuchElementException:
    date.append('No details available')

print(len(Date_2))

try:
    time_tags=driver.find_elements(By.XPATH, "//div[@class='match-time no-margin ng-binding']")
    for i in time_tags:
        time_=i.text
        Time_note_2.append(time_)
except NOSuchElementException:
    time_.append('No details available')

print(len(Time_note_2))

#close driver
driver.close()

5
5
5
5

In [306]:
#create data frame 

df_2=pd.DataFrame({
    'Series':Series_2,
    'Place':Place_2,
    'Date':Date_2,
    'Time':Time_note_2
})

#adjust index
df_2.index=df_2.index + 1
df_2

,Series,Place,Date,Time
1,ICC Mens T20 World Cup 2024,"Nassau County International Cricket Stadium,",12 Jun,17:30 EEST
2,South Africa Women Tour Of India Warm Up Match...,"M Chinnaswamy Stadium,",13 Jun,11:00 EEST
3,ICC Mens T20 World Cup 2024,"Central Broward Park & Broward County Stadium,...",15 Jun,17:30 EEST
4,South Africa Women Tour Of India ODI Series 2024,"M Chinnaswamy Stadium,",16 Jun,11:00 EEST
5,South Africa Women Tour Of India ODI Series 2024,"M Chinnaswamy Stadium,",19 Jun,11:00 EEST

____________

__3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.__

In [318]:
#open chrome driver
driver=webdriver.Chrome()
time.sleep(2)
#open statisitics times webpage to be scrapped
driver.get(' http://statisticstimes.com/ ')
time.sleep(2)
driver.maximize_window()

In [319]:
#click econmy dropdown 
economy_click=driver.find_element(By.XPATH, "/html/body/div[2]/div[1]/div[2]/div[2]/button/i")
economy_click.click()

#click india link
india_link=driver.find_element(By.XPATH, '//*[@id="top"]/div[2]/div[2]/div/a[3]')
try:
    india_link.click()
except ElementNotInteractableException:
    driver.get(india_link.get_attribute('href'))
    time.sleep(2)

In [320]:
#click Indian states >>>GDP of Indian states
State_link=driver.find_element(By.XPATH, '//html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
try:
    State_link.click()
except ElementNotInteractableException:
    driver.get(State_link.get_attribute('href'))
    time.sleep(2)

In [321]:
#create rank list 
Rank=[]

rank_tag=driver.find_elements(By.XPATH, "//table[@class='display dataTable']//tbody/tr/td[1]")
for i in rank_tag:
    rank=i.text
    Rank.append(rank)

#print length to assure all details are the same length     
print(len(Rank))

#create state list
State=[]
#scrape details
state_tag=driver.find_elements(By.XPATH, "//table[@class='display dataTable']//tbody/tr/td[2]")
for i in state_tag:
    if i.text is None:
        State.append('--')
    else:
        State.append(i.text)
        
#print length to assure all details are the same length         
print(len(State))

#create 2021-2022 (18-19 not available)
GSDP=[]
#scrape details
gsdp_tag=driver.find_elements(By.XPATH, "//table[@class='display dataTable']//tbody/tr/td[5]")
for i in gsdp_tag:
    if i.text is None:
        GSDP.append('--')
    else:
        GSDP.append(i.text)
print(len(GSDP))

#create 2022-2023 (19-20 not available)
GSDP_2=[]
#scrape details
gsdp_2_tag=driver.find_elements(By.XPATH, "//table[@class='display dataTable']//tbody/tr/td[4]")
for i in gsdp_2_tag:
    if i.text is None:
        GSDP_2.append('--')
    else:
        GSDP_2.append(i.text)
print(len(GSDP_2))

#create Shares list
Shares=[]
#scrape details
shares_tag=driver.find_elements(By.XPATH, "//table[@class='display dataTable']//tbody/tr/td[6]")
for i in shares_tag:
    if i.text is None:
        Shares.append('--')
    else:
        Shares.append(i.text)
print(len(Shares))

#create GDP list
Gdp=[]
#create details
gdp_tag=driver.find_elements(By.XPATH, "//table[@class='display dataTable']//tbody/tr/td[7]")
for i in gdp_tag:
    if i.text is None:
        Gdp.append('--')
    else:
        Gdp.append(i.text)
print(len(Gdp))

66
66
66
66
66
66

In [322]:
#create data frame and limit to 33 for the first table only 

df_3=pd.DataFrame({
    'Rank': Rank[:33],
    'State': State[:33],
    'GSDP (21-22)'  : GSDP[:33],
    'GSDP old(22-23)': GSDP_2[:33],
    'Shares': Shares[:33],
    'GDP': Gdp[:33]
})

#close driver
driver.close()

#adjust index
df_3.index=df_3.index + 1
df_3

,Rank,State,GSDP (21-22),GSDP old(22-23),Shares,GDP
1,1,Maharashtra,"3,108,022",-,13.17%,414.928
2,2,Tamil Nadu,"2,071,286","2,364,514",8.78%,276.522
3,3,Karnataka,"1,978,094","2,269,995",8.38%,264.080
4,4,Uttar Pradesh,"1,975,595","2,258,040",8.37%,263.747
5,5,Gujarat,"1,928,683","2,230,609",8.17%,257.484
6,6,West Bengal,"1,329,238","1,531,758",5.63%,177.456
7,7,Rajasthan,"1,193,489","1,365,849",5.06%,159.334
8,8,Andhra Pradesh,"1,148,471","1,303,524",4.87%,153.324
9,9,Telangana,"1,124,204","1,308,034",4.76%,150.084
10,10,Madhya Pradesh,"1,092,964","1,246,471",4.63%,145.913
11,11,Kerala,"934,542","1,046,188",3.96%,124.764
12,12,Delhi,"881,336","1,014,688",3.73%,117.660
13,13,Haryana,"868,905","984,055",3.68%,116.001
14,14,Odisha,"662,886","753,177",2.81%,88.497
15,15,Bihar,"650,302","751,396",2.76%,86.817
16,16,Punjab,"617,192","676,164",2.62%,82.397
17,17,Assam,"411,454","493,167",1.74%,54.930
18,18,Chhattisgarh,"410,525","464,399",1.74%,54.806
19,19,Jharkhand,"358,863","393,722",1.52%,47.909
20,20,Uttarakhand,"267,143","303,781",1.13%,35.664
21,21,Jammu & Kashmir,"193,352","224,226",0.82%,25.813
22,22,Himachal Pradesh,"172,162","191,728",0.73%,22.984
23,23,Goa,"84,266","93,672",0.36%,11.250
24,24,Tripura,"62,550","72,636",0.27%,8.351
25,25,Chandigarh,"46,096","54,285",0.20%,6.154
26,26,Puducherry,"43,810","49,643",0.19%,5.849
27,27,Meghalaya,"38,785","42,697",0.16%,5.178
28,28,Sikkim,"37,557","42,756",0.16%,5.014
29,29,Manipur,"36,594",-,0.16%,4.885
30,30,Arunachal Pradesh,"34,775","39,630",0.15%,4.643
31,31,Nagaland,"31,038","35,643",0.13%,4.144
32,32,Mizoram,"27,824",-,0.12%,3.715
33,33,Andaman & Nicobar Islands,"10,371",-,0.04%,1.385

________________

__4. Scrape the details of trending repositories on Github.com.   
Url = https://github.com/   
You have to find the following details:   
A) Repository title   B) Repository description   C) Contributors count   D) Language used__

In [157]:
# open web driver
driver=webdriver.Chrome()
time.sleep(3)

In [158]:
#open github webpage to be scrapped
driver.get('https://github.com/')
time.sleep(2)
driver.maximize_window()

In [159]:
#click open source dropdown
open_=driver.find_element(By.XPATH, ("//ul[@class='d-lg-flex list-style-none']/li[3]"))
open_.click()
time.sleep(2)

#click repositories trending link
repo_trend=driver.find_element(By.XPATH, ("/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a"))
repo_trend.click()
time.sleep(2)

In [160]:
#create empty lists
Repo_name=[]
Repo_desc=[]
Cont_count=[]
Language_used=[]

#find all repository titles and links
Repo_tags=driver.find_elements(By.XPATH,  "//h2[@class='h3 lh-condensed']/a") #find all h2 tags 
Repo_name=[repo.text for repo in Repo_tags] # extract text from each element 

links_=[repo.get_attribute('href') for repo in Repo_tags]

for link in links_:
    driver.get(link)
    
    
    try:
        desc_tags=driver.find_element(By.XPATH, "//p[@class='f4 my-3']")
        Repo_desc.append(desc_tags.text) 
    except NoSuchElementException:
        Repo_desc.append('No description provided')
        time.sleep(2)

    try:
        count_tags=driver.find_element(By.XPATH, "//div[@class='BorderGrid-row'][5]/div/div/a")
        Cont_count.append(count_tags.text)
    except NoSuchElementException:
        Cont_count.append('No contributors mentioned')
        time.sleep(2)

    try:
        lang_tags=driver.find_element(By.XPATH, "//div[@class='BorderGrid about-margin']/div[6]/div/ul/li")
        Language_used.append(lang_tags.text)
    except NoSuchElementException:
        Language_used.append('No language mentioned')  
        time.sleep(2)
        
print(len(Repo_name),len(Repo_desc),len(Cont_count),len(Language_used))    

driver.close()

16 16 16 16

In [161]:
#create data frame 

df_3=pd.DataFrame({
    'REpository Name':Repo_name,
    'Description' : Repo_desc,
    'Contributors Count':Cont_count,
    'Language Used': Language_used
    })

#adjust index
df_3.index=df_3.index + 1
df_3

,REpository Name,Description,Contributors Count,Language Used
1,huggingface / lerobot,ðŸ¤— LeRobot: End-to-end Learning for Real-World ...,+ 6 contributors,Python\n98.3%
2,DaoCloud / public-image-mirror,å¾ˆå¤šé•œåƒéƒ½åœ¨å›½å¤–ã€‚æ¯”å¦‚ gcr ã€‚å›½å†…ä¸‹è½½å¾ˆæ…¢ï¼Œéœ€è¦åŠ é€Ÿã€‚,+ 34 contributors,Shell\n100.0%
3,idootop / mi-gpt,ðŸ å°†å°çˆ±éŸ³ç®±æŽ¥å…¥ ChatGPT å’Œè±†åŒ…ï¼Œæ”¹é€ æˆä½ çš„ä¸“å±žè¯­éŸ³åŠ©æ‰‹ã€‚,No contributors mentioned,No language mentioned
4,cloudcommunity / Free-Certifications,A curated list of free courses & certifications.,No contributors mentioned,No language mentioned
5,apple / swift-testing,"A modern, expressive testing package for Swift",No contributors mentioned,No language mentioned
6,apple / axlearn,An Extensible Deep Learning Library,No contributors mentioned,No language mentioned
7,codecrafters-io / build-your-own-x,Master programming by recreating your favorite...,+ 103 contributors,No language mentioned
8,coollabsio / coolify,An open-source & self-hostable Heroku / Netlif...,No contributors mentioned,
9,karpathy / nanoGPT,"The simplest, fastest repository for training/...",+ 22 contributors,Python\n100.0%
10,xenova / transformers.js,State-of-the-art Machine Learning for the web....,No contributors mentioned,
11,litestar-org / litestar,"Production-ready, Light, Flexible and Extensib...",+ 187 contributors,Python\n99.6%
12,coqui-ai / TTS,ðŸ¸ðŸ’¬ - a deep learning toolkit for Text-to-Speec...,+ 135 contributors,Python\n92.0%
13,3b1b / manim,Animation engine for explanatory math videos,+ 134 contributors,Python\n96.2%
14,juspay / hyperswitch,An open source payments switch written in Rust...,No contributors mentioned,No language mentioned
15,dortania / OpenCore-Legacy-Patcher,Experience macOS just like before,+ 18 contributors,Python\n98.3%
16,AvaloniaUI / Avalonia,"Develop Desktop, Embedded, Mobile and WebAssem...",+ 396 contributors,C#\n98.3%

__5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/  You have to find the following details:   A) Song name   B) Artist name   C) Last week rank   D) Peak rank   E) Weeks on board__  
 
      Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [274]:
# open web driver
driver=webdriver.Chrome()
time.sleep(2)

In [275]:
#open wikipedia webpage to be scrapped
driver.get('https:/www.billboard.com/')
time.sleep(2)
#click billboard hot 100
open_=driver.find_element(By.XPATH, "//li[@class='o-nav__list-item '][1]/a")
open_.click()

In [276]:
# create lists for song title
Song_title=[]
try:
    song_tags=driver.find_elements(By.XPATH, "//li[@class='lrv-u-width-100p']/ul/li[1]/span")#100
    for i in song_tags:
        Song_title.append(i.text)
except NoSuchElementException:
    Song_title.append('-')
time.sleep(2)
#print to assure all lengths are the same
print(len(Song_title))

Artist_name=[]
try:
    artistn_tags=driver.find_elements(By.XPATH, "//li[@class='lrv-u-width-100p']/ul/li/h3")
    for i in artistn_tags:
        Artist_name.append(i.text)
except NoSuchElementException:
    Artist_name.append('-')
time.sleep(2)   

print(len(Artist_name))


#create last week rank list
Last_week_rank=[]
try:#99
    lwr_tags=driver.find_elements(By.XPATH, "//li[@class='o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max'][2]/span")
    for i in lwr_tags:
        Last_week_rank.append(i.text)
except NoSuchElementException:
    Last_week_rank.append('-')
time.sleep(2) 

print(len(Last_week_rank))

#create peak list
Peak_rank=[]
try:
    pr_tags=driver.find_elements(By.XPATH, "//li[@class='o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max'][2]")
    for i in pr_tags:
        Peak_rank.append(i.text)
except NoSuchElementException:
    Peak_rank.append('-')
time.sleep(2) 

print(len(Peak_rank))

#create weeks on board
Weeks_on_board=[]
try:
    wb_tags=driver.find_elements(By.XPATH, "//li[@class='o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max'][2]/span")
    for i in wb_tags:
        Weeks_on_board.append(i.text)
except NoSuchElementException:
    Weeks_on_board.append('-')
time.sleep(2) 

print(len(Weeks_on_board))

100
100
100
100
100

In [277]:
#create data frame 

df_4=pd.DataFrame({
    'Song Title':Song_title,
    'Artist Name' : Artist_name,
    'Last Week Rank':Last_week_rank,
    'Peak Rank': Peak_rank,
    'Weeks on Board': Weeks_on_board
    })

#adjust index
df_4.index=df_4.index + 1
df_4

,Song Title,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
1,Post Malone Featuring Morgan Wallen,I Had Some Help,1,1,4
2,Eminem,Houdini,2,2,1
3,Tommy Richman,Million Dollar Baby,2,2,6
4,Shaboozey,A Bar Song (Tipsy),3,3,8
5,Kendrick Lamar,Not Like Us,1,1,5
...,...,...,...,...,...
96,Tucker Wetmore,Wine Into Whiskey,77,77,11
97,Shoreline Mafia Presents OhGeesy & Fenix Flexin,Heat Stick,97,97,3
98,Jason Aldean,Let Your Boys Be Country,98,98,1
99,Fuerza Regida,Tu Name,66,66,14
100,Taylor Swift,loml,12,12,7

________________________________

__6. Scrape the details of Highest selling novels.   A) Book name   B) Author name   C) Volumes sold   D) Publisher   E) Genre__   
 
      Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [131]:
# open web driver
driver=webdriver.Chrome()
time.sleep(3)

In [132]:
#open theguardian webpage to be scrapped
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
driver.maximize_window()
time.sleep(2)

In [139]:
Book_name=[]
try:
    bname_tags=driver.find_elements(By.XPATH, "//table[@class='in-article sortable']//tbody/tr/td[2]")
    for i in bname_tags:
        Book_name.append(i.text)
except NoSuchElementException:
    Book_name.append('-')
time.sleep(2)

print(len(Book_name))

Author_=[]
try:
    author_tags=driver.find_elements(By.XPATH, "//table[@class='in-article sortable']//tbody/tr/td[3]")
    for i in author_tags:
        Author_.append(i.text)
except NoSuchElementException:
    Author_.append('-')
time.sleep(2)

print(len(Author_))

Volumes_=[]
try:
    volumes_tags=driver.find_elements(By.XPATH, "//table[@class='in-article sortable']//tbody/tr/td[4]")
    for i in volumes_tags:
        Volumes_.append(i.text)
except NoSuchElementException:
    Volumes_.append('-')
time.sleep(2)

print(len(Volumes_))

Publisher_=[]
try:
    publisher_tags=driver.find_elements(By.XPATH, "//table[@class='in-article sortable']//tbody/tr/td[5]")
    for i in publisher_tags:
        Publisher_.append(i.text)
except NoSuchElementException:
    Publisher_.append('-')
time.sleep(2)

print(len(Publisher_))

Genre_=[]
try:
    genre_tags=driver.find_elements(By.XPATH, "//table[@class='in-article sortable']//tbody/tr/td[6]")
    for i in genre_tags:
        Genre_.append(i.text)
except NoSuchElementException:
    Genre_.append('-')
time.sleep(2)

print(len(Genre_))

#close driver
driver.close()

100
100
100
100
100

In [141]:
#create data frame 

df_6=pd.DataFrame({
    'Book Title':Book_name,
    'Author' : Author_,
    'Volumes Sold':Volumes_,
    'Publisher': Publisher_,
    'Genre': Genre_
})

#adjust index
df_6.index=df_6.index + 1
df_6

,Book Title,Author,Volumes Sold,Publisher,Genre
1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

__________

#WRONG
__7. Scrape the details most watched tv series of all time from imdb.com.   
Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:   
A) Name   B) Year span   C) Genre   D) Run time   E) Ratings   F) Votes__

In [222]:
# Initialize the WebDriver
driver = webdriver.Chrome()
# Open the IMDb most-watched TV series page
driver.get('https://www.imdb.com/search/title/?title_type=tv_series&sort=num_votes,desc')
driver.maximize_window()
time.sleep(2)

In [223]:
#create empty lists 

Series_title=[]
Year_span=[]
Genre_=[]
Run_time=[]
Rating_7=[]
Votes_7=[]

for page in range (5):
    #find all series on page
    series_250=driver.find_elements(By.XPATH, "//div[@class='ipc-metadata-list-summary-item__tc']")
    for series in series_250:
        
        try:                           
            #scrap titles
            title=series.find_element(By.XPATH, "//div[@class='ipc-title ipc-title--base ipc-title--title ipc-title-link-no-icon ipc-title--on-textPrimary sc-b189961a-9 iALATN dli-title']").text
        except NoSuchElementException:
            title='No Title'
        Series_title.append(title)
            
        try:
            #scrap year_span
            year=series.find_element(By.XPATH, "//div[@class='sc-b189961a-7 feoqjK dli-title-metadata']/span[1]").text
        except NoSuchElementException:
            year='No year span'
        Year_span.append(year)
        
       # try:
            #scrap genre
        #    Genre_=series.find_element(By.XPATH, "").text
        #except NoSuchElementException:
         #   genre='No Genre given'
        #Genre_.append(genre)
        
        
        #try:
            #scrap run_time
         #   run_time=series.find_element(By.XPATH, "").text
        #except NoSuchElementException:
         #   run_time='No run-time available'
        #Run_time.append(run_time)
        
        
        
        try:
            #scrap rating
            rating_=series.find_element(By.XPATH, "//span[@class='sc-b189961a-8 kLaxqf dli-title-metadata-item'][2]").text
        except NoSuchElementException:
            rating_='No run-time available'
        Rating_7.append(rating_)
        
        try:
            #scrap votes
            votes_=series.find_element(By.XPATH, "//span[@class='ipc-rating-star--voteCount']").text
        except NoSuchElementException:
            votes_='No run-time available'
        Votes_7.append(votes_)

        
print(len(Series_title),len(Year_span),len(Rating_7),len(Votes_7))

250 250 250 250

In [224]:
df_7=pd.DataFrame({
    'Title':Series_title,
    'Year span':Year_span,
    #'Genre':Genre_,
    #'Run-time':Run_time,
    'Rating':Rating_7,
    'Votes':Votes_7
})
df_7.index=df_7.index + 1 
df_7

                  Title  Year span Rating    Votes
1    1. Game of Thrones  2011â€“2019     18   (2.3M)
2    1. Game of Thrones  2011â€“2019     18   (2.3M)
3    1. Game of Thrones  2011â€“2019     18   (2.3M)
4    1. Game of Thrones  2011â€“2019     18   (2.3M)
5    1. Game of Thrones  2011â€“2019     18   (2.3M)
..                  ...        ...    ...      ...
246  1. Game of Thrones  2011â€“2019     18   (2.3M)
247  1. Game of Thrones  2011â€“2019     18   (2.3M)
248  1. Game of Thrones  2011â€“2019     18   (2.3M)
249  1. Game of Thrones  2011â€“2019     18   (2.3M)
250  1. Game of Thrones  2011â€“2019     18   (2.3M)

[250 rows x 4 columns]

In [173]:
df_7=pd.DataFrame({
    'Series Title' :Dataset_name,
    'Data Type' :Data_type,show_250_details)
df_7.index=df_7.index + 1 
df_7

     Series Title  Year Span               Genre Run Time Rating     Votes
1    Breaking Bad  2008â€“2013  CrimeDramaThriller    45min     18  9.5\n/10
2    Breaking Bad  2008â€“2013  CrimeDramaThriller    45min     18  9.5\n/10
3    Breaking Bad  2008â€“2013  CrimeDramaThriller    45min     18  9.5\n/10
4    Breaking Bad  2008â€“2013  CrimeDramaThriller    45min     18  9.5\n/10
5    Breaking Bad  2008â€“2013  CrimeDramaThriller    45min     18  9.5\n/10
..            ...        ...                 ...      ...    ...       ...
246  Breaking Bad  2008â€“2013  CrimeDramaThriller    45min     18  9.5\n/10
247  Breaking Bad  2008â€“2013  CrimeDramaThriller    45min     18  9.5\n/10
248  Breaking Bad  2008â€“2013  CrimeDramaThriller    45min     18  9.5\n/10
249  Breaking Bad  2008â€“2013  CrimeDramaThriller    45min     18  9.5\n/10
250  Breaking Bad  2008â€“2013  CrimeDramaThriller    45min     18  9.5\n/10

[250 rows x 6 columns]

______

__8. Details of Datasets from UCI machine learning repositories.   
Url = https://archive.ics.uci.edu/  You have to find the following details:   
A) Dataset name   B) Data type   C) Task   D) Attribute type   E) No of instances   F) No of attribute G) Year__  
 
      Note: - from the home page you have to go to the Show All Dataset page through code.

In [225]:
# open web driver
driver=webdriver.Chrome()
time.sleep(3)

In [226]:
#open theguardian webpage to be scrapped
driver.get('https://archive.ics.uci.edu/')
driver.maximize_window()
time.sleep(2)

In [227]:
#click view_datasets
view_=driver.find_element(By.XPATH, "//div[@class='flex max-w-7xl flex-col gap-6']/div/a[1]")
view_.click()
time.sleep(2)

In [228]:
#click expand all
expand_all=driver.find_element(By.XPATH, "//span[@class='swap-on text-primary-content']")
expand_all.click()

In [ ]:
#create lists
Dataset_name=[]
Data_type=[]
Task_=[]
Attribute_type=[]
Num_inst=[]
Num_att=[]
Year_8=[]

try:
    name_tags=driver.find_elements(By.XPATH, "//h2[@class='truncate text-primary']")
    for i in name_tags:
        Dataset_name.append(i.text)
except NoSuchElementException:
        Dataset_name.append('-')
        time.sleep(2)
#print Dataset_name
print(len(Dataset_name))

try:
    type_tags=driver.find_elements(By.XPATH, "//div[@class='col-span-3 flex items-center gap-2'][2]/span")
    for i in type_tags:
        Data_type.append(i.text)
except NoSuchElementException:
    Data_type.append('-')
    time.sleep(2)
#print Data_type
print(len(Data_type))

try:
    task_tags=driver.find_elements(By.XPATH, "//div[@class='col-span-3 flex items-center gap-2'][1]/span")
    for i in task_tags:
        Task_.append(i.text)
except NoSuchElementException:
    Task_.append('-')
    time.sleep(2)
#print Task_
print(len(Task_))

try:
    att_tags=driver.find_elements(By.XPATH, "//table[@class='col-span-full my-2 table sm:col-start-2']/tbody/tr/td[2]")
    for i in att_tags:
        Attribute_type.append(i.text)
except NoSuchElementException:
    Attribute_type.append('-')
    time.sleep(2)
#print Attribute_type
print(len(Attribute_type))

try:
    inst_tags=driver.find_elements(By.XPATH, "//div[@class='col-span-3 flex items-center gap-2'][3]/span")
    for i in inst_tags:
        Num_inst.append(i.text)
except NoSuchElementException:
    Num_inst.append('-')
    time.sleep(2)
#print Num_int
print(len(Num_inst))


try:
    natt_tags=driver.find_elements(By.XPATH, "//div[@class='col-span-3 flex items-center gap-2'][4]/span")
    for i in natt_tags:
        Num_att.append(i.text)
except NoSuchElementException:
    Num_att.append('-')
    time.sleep(2)
#print Num_att
print(len(Num_att))


try:
    year_tags=driver.find_elements(By.XPATH, "//tbody[@class='border']/tr/td[3]")
    for i in year_tags:
        Year_8.append(i.text)
except NoSuchElementException:
    Year_8.append('-')
    time.sleep(2)

    
#print year_8
print(len(Year_8))

In [230]:
#create data frame 


df_8=pd.DataFrame({
    'Dataset Name' :Dataset_name,
    'Data Type' :Data_type,
    'Task':Task_,
    'Attribute Type':Attribute_type,
    'Number of instances':Num_inst,
    'Number of Attributes': Num_att,
    'Date':Year_8
    })
#adjust index
df_8.index=df_8.index + 1
df_8

,Dataset Name,Data Type,Task,Attribute Type,Number of instances,Number of Attributes,Date
1,Iris,Tabular,Classification,Real,150 Instances,4 Features,7/1/1988
2,Dry Bean,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Features,9/14/2020
3,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features,7/1/1988
4,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,7 Features,10/6/2019
5,Raisin,Multivariate,Classification,"Real, Integer",900 Instances,8 Features,8/14/2023
...,...,...,...,...,...,...,...
6646,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
6647,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features,11/1/1995
6648,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features,7/1/1991
6649,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K Instances,12 Features,10/7/2009
6650,Bank Marketing,Multivariate,Classification,"Categorical, Integer",45.21K Instances,17 Features,2/14/2012

__________________________

END OF ASSIGNMENT