Eithar Elfatih Burie Abdelrahman - batch DS2403

assignment 3

In [1]:
import regex as re
import numpy as np
import pandas as pd

---------------------------------------------------------------------------------------------------------------------

Question 1 - Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [123]:
#define function
def Replace_With_Colon(string):
    #replace all three characters with colon
    Replaced_String=string.replace(' ', ':').replace(',' , ':').replace('.', ':')
    return Replaced_String
#string to replace characters
string='All space, fullstops, and commas will be replaced with colons.'# replace space, comma, or dot with a colon.
#call function to replace
Replaced_String=Replace_With_Colon(string)
#print new string
print(Replaced_String)

All:space::fullstops::and:commas:will:be:replaced:with:colons:

---------------------------------------------------------------------------------------------------------------------

Question 2 - Create a dataframe using the dictionary below and remove everything (commas(,),!,XXXX,;,etc.) from the columns except words.

In [124]:
#create dataframe
data={'SUMMARY':['hello,world!','XXXX test','123four:;five:;six...']}
df=pd.DataFrame(data)

#remove all except words from SUMMARY column
df['SUMMARY']=df['SUMMARY'].str.replace('[^a-zA-Z\s]', ' ' , regex=True)

#print modified dataframe
print(df)

                 SUMMARY
0           hello world
1              XXXX test
2     four  five  six

In [ ]:
#not sure how to get rid of XXXX

---------------------------------------------------------------------------------------------------------------------

Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [125]:
#define function
def word_length_four(string):
    #define pattern (4 characters)
    pattern=re.compile(r'\b\w{4,}\b')
    return pattern.findall(string)


string="Today the weather is nice, I hope it's like this tomorrow because we are going to the park."
print ('All words that are four characters or more are:',word_length_four(string))

All words that are four characters or more are: ['Today', 'weather', 'nice', 'hope', 'like', 'this', 'tomorrow', 'because', 'going', 'park']

---------------------------------------------------------------------------------------------------------------------

Question 4-Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [122]:
#define 
def word_length_ThreeToFive(string):
    pattern=re.compile(r'\b\w{3,5}\b')
    return pattern.findall(string)


string="I think it's easy to find a good job in this city, because there are always new buildings and businesses opening ."
print ('All words that are three to five characters or more are:',word_length_four(string))

All words that are three to five characters or more are: ['think', 'easy', 'find', 'good', 'this', 'city', 'because', 'there', 'always', 'buildings', 'businesses', 'opening']

---------------------------------------------------------------------------------------------------------------------

question 5- Create a function in python to remove parenthesis in a list of strings. The use of re.compile() method is mandatory.

In [108]:
def remove_parenthesis(string):
    
    
    pattern=re.compile(r"\(.*?\)")
             
    changed_sentence=re.sub(pattern, '', string)
    
    return changed_sentence

strings=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

No_Parenthesis=[remove_parenthesis(string) for string in strings]
print(No_Parenthesis)

['example ', 'hr@fliprobo ', 'github ', 'Hello ', 'Data ']

---------------------------------------------------------------------------------------------------------------------

Question 6 - Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

In [20]:
#Create file
f1=open('C:\\Users\\eitha\\OneDrive\\Documents\\fliprobo\\QuestionSix.txt','w')

f1.write(' ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]')

f1.close()

In [21]:
def remove_parenthesis(file_path):
    
    with open (file_path, 'r') as file:
        text=file.read()

    pattern=r'\((.*?)\)'
             
    sentence_without=re.sub(pattern, '', text)
    
    return sentence_without

Question_Six="C:\\Users\\eitha\\OneDrive\\Documents\\fliprobo\\QuestionSix.txt"
    
clean_sentence=remove_parenthesis(Question_Six)
print(clean_sentence)

 ["example ", "hr@fliprobo ", "github ", "Hello ", "Data "]

Question 7- Write a regular expression in Python to split a string into uppercase letters.

In [26]:
import re 
def Space_Before_Capital(string):
    new_string=re.sub (r'([A-Z])', r' \1', string)
    return new_string 


string="WeWantToSeperateThisSentence."
results=Space_Before_Capital(string)

print(results)

 We Want To Seperate This Sentence.

---------------------------------------------------------------------------------------------------------------------

Question 8- Create a function in python to insert spaces between words starting with numbers.

In [126]:
def space_before_number(string):
    pattern=r'(?<=\D)(\d)'
    separated=re.sub(pattern, r' \1', string)
    return separated


string="Wehave2many3Things4to5choose6from"
result=space_before_number(string)

print(result)

Wehave 2many 3Things 4to 5choose 6from

---------------------------------------------------------------------------------------------------------------------

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers
(STILL CHECK)

In [127]:
def space_caps_and_number(string):
    pattern=r'(\d)|(?=[A-Z])'
    separated=re.sub(pattern, r'\1 ', string)
    return separated
    

string="WeHave2manyThings4toChoose6from"
result=space_caps_and_number(string)

print(result)

 We Have2 many Things4 to Choose6 from

In [ ]:
#not sure how to split before number rather thn after

---------------------------------------------------------------------------------------------------------------------

Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

In [129]:
data_1='https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv'

df=pd.read_csv(data_1)

df['First_Five_Letters']=df['Country'].str[:5]

print(df.head())

       Country          Region  Happiness Rank  Happiness Score  \
0  Switzerland  Western Europe               1            7.587
1      Iceland  Western Europe               2            7.561
2      Denmark  Western Europe               3            7.527
3       Norway  Western Europe               4            7.522
4       Canada   North America               5            7.427

   Standard Error  Economy (GDP per Capita)   Family  \
0         0.03411                   1.39651  1.34951
1         0.04884                   1.30232  1.40223
2         0.03328                   1.32548  1.36058
3         0.03880                   1.45900  1.33095
4         0.03553                   1.32629  1.32261

   Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                   0.94143  0.66557                        0.41978
1                   0.94784  0.62877                        0.14145
2                   0.87464  0.64938                        0.48357
3                   0.88521  0.66973                        0.36503
4                   0.90563  0.63297                        0.32957

   Generosity  Dystopia Residual First_Five_Letters
0     0.29678            2.51738              Switz
1     0.43630            2.70201              Icela
2     0.34139            2.49204              Denma
3     0.34699            2.46531              Norwa
4     0.45811            2.45176              Canad

---------------------------------------------------------------------------------------------------------------------

Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [66]:
def String_Match (string):
    #define pattern
    pattern=r'^[A-Za-z0-9_]+$'
    if re.match(pattern,string):
        print('This string is a match.')
    else:
        print('This string is not a match.')
        
String_Match('This_is_Question_11')
String_Match('This_is_Question_11_and has white space and cahracters')

This string is a match.
This string is not a match.

---------------------------------------------------------------------------------------------------------------------

Question 12-Write a Python program where a string will start with a specific number.

In [90]:
def Begins_with_number(string,number):
    number_str=str(number)
    
    if string.startswith(number_str):
        return True
    else:
        return False

string='123ABC'
number= 456

if Begins_with_number(string,number):
    print(f"The string '{string}' starts with the number {number}.")
else:
    print(f"The string '{string}' does not starts with the number {number}.")

The string '123ABC' does not starts with the number 456.

---------------------------------------------------------------------------------------------------------------------

Question 13-Write a Python program to remove leading zeros from an IP address.

In [68]:
ip= '216.08.094.196'
new_ip=re.sub('\.[0]*', '.', ip)

print(new_ip)

216.8.94.196

---------------------------------------------------------------------------------------------------------------------

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

In [115]:
#create file 
dates=open('C:\\Users\\eitha\\OneDrive\\Documents\\fliprobo\\QuestionEleven.txt','w')
dates.write('I was born on April 18th 1991')
dates.close()

In [119]:
with open ('C:\\Users\\eitha\\OneDrive\\Documents\\fliprobo\\QuestionEleven.txt','r') as file:
    QuestionEleven=file.read()
    =define date pattern
    pattern=r'\b([A-Z][a-z]+ \d{1,2}(?:st|nd|rd|th)? \d{4})\b'

   
    matches=re.findall(pattern, QuestionEleven)
    print(matches)

['April 18th 1991']

---------------------------------------------------------------------------------------------------------------------

Question 15- Write a Python program to search some literals strings in a string.

In [70]:
patterns=['fox', 'bird', 'cat']
string= 'The quick brown fox jumps over the lazy dog.'
for pattern in patterns:
    print ("Searching for '%s' in '%s' ->" % (pattern, string),)
    if re.search(pattern, string):
        print('This is a match.')
    else: 
        print('This is not a match.')

Searching for 'fox' in 'The quick brown fox jumps over the lazy dog.' ->
This is a match.
Searching for 'bird' in 'The quick brown fox jumps over the lazy dog.' ->
This is not a match.
Searching for 'cat' in 'The quick brown fox jumps over the lazy dog.' ->
This is not a match.

---------------------------------------------------------------------------------------------------------------------

Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

In [130]:
pattern= 'fox'
text= ' The quick brown fox jumps over the lazy dog.'
match=re.search(pattern, text)
s=match.start()
e=match.end()
print("Found '%s' in '%s' from %d to %d " % (match.re.pattern, match.string,s,e))

Found 'fox' in ' The quick brown fox jumps over the lazy dog.' from 17 to 20

---------------------------------------------------------------------------------------------------------------------

Question 17- Write a Python program to find the substrings within a string.

In [131]:
string= 'Python exercises, PHP exercises, C# exercises'
pattern= 'exercises'
for match in re.findall(pattern, string):
    print('Found "%s"' % match )

Found "exercises"
Found "exercises"
Found "exercises"

---------------------------------------------------------------------------------------------------------------------

Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [132]:
string= 'Python exercises, PHP exercises, C# exercises'
pattern='exercises'
for match in re.finditer(pattern,string):
    s=match.start()
    e=match.end()
    print ('Found "%s" at %d:%d' % (string[s:e],s,e))

Found "exercises" at 7:16
Found "exercises" at 22:31
Found "exercises" at 36:45

---------------------------------------------------------------------------------------------------------------------


Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [133]:
def Date_Format_One(dt):
    return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1',dt)

dt1='1991-04-18'

print('This is the date format in YY-MM-DD:' ,dt1)
print('This is the new format DD-MM-YYYY:', Date_Format_One(dt1))

This is the date format in YY-MM-DD: 1991-04-18
This is the new format DD-MM-YYYY: 18-04-1991

---------------------------------------------------------------------------------------------------------------------

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

In [134]:
def decimal_number(text):
    pattern= re.compile (r'\b\d+\.\d{1,2}\b')
    return pattern.findall(text)

sample= '0.112 0123.123 2.31875 145.8 3.01 27.25 0.25'

find_decimals= decimal_number(sample)

print(find_decimals)

['145.8', '3.01', '27.25', '0.25']

---------------------------------------------------------------------------------------------------------------------

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [135]:
def Numbers_and_positions(text):
    for i in range (len(text)):
        if text[i].isdigit():
            print(f'Number: {text[i]}, position:{i}')


string='I have 7 cats, 4 dogs, 5 birds, 1 snake, 2 hamster, 6 fish and 3 monkeys.'
print(Numbers_and_positions(string))

Number: 7, position:7
Number: 4, position:15
Number: 5, position:23
Number: 1, position:32
Number: 2, position:41
Number: 6, position:52
Number: 3, position:63
None

---------------------------------------------------------------------------------------------------------------------

Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.

In [136]:
string= ' 43 21 567 345 236547 89 085 1234 546 67 2 8 77 6 '

number=re.findall ('\d+', string)
number=map(int,number)
print('Max_value:', max(number))

Max_value: 236547

---------------------------------------------------------------------------------------------------------------------

Question 23- Create a function in python to insert spaces between words starting with capital letters.

In [137]:
string='MynameisEitharElfatihBurieAbdelrahman.'

x=re.sub(r'\B([A-Z])', r' \1', string)
print(x)

Mynameis Eithar Elfatih Burie Abdelrahman.

---------------------------------------------------------------------------------------------------------------------

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [138]:
msgs= ['If it was affordable to travel often, I would go to Morroco, Guatamala and The Philipines.']

for msg in msgs:
    search=re.findall(r'[A-Z][a-z]+', msg)
    print(search)

['If', 'Morroco', 'Guatamala', 'The', 'Philipines']

Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

In [139]:
def remove_duplicate(string):
    pattern= r'\b(\w+)(?:\W\1\b)+'
    text=re.sub(pattern, r'\1', string)
    return text


string= ' I think think that you are very very tall.'
print(remove_duplicate(string))

 I think that you are very tall.

---------------------------------------------------------------------------------------------------------------------

Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [140]:
def alphanumeric_end_char(string):
    pattern=r'\w' 
    match=re.search(pattern,string)
    return bool(match)


strings='This sentence means nothing but it is alphanumeric_'

print(alphanumeric_end_char(string))

True

Question 27-Write a python program using RegEx to extract the hashtags.

In [141]:
#Define function
def extract_hashtag(string):
    #define hashtag pattern (starts with #)
    pattern= r'\#\w+'
    #use findall to extract hashtags
    hashtags=re.findall(pattern,string)
    return hashtags
#sentence to extract from 
string= "This is an example #string that has some #hashtags for no reason #cat #dog #bird."
hashtags_only=(extract_hashtag(string))
print('extracted hashtags:',hashtags_only)

extracted hashtags: ['#string', '#hashtags', '#cat', '#dog', '#bird']

---------------------------------------------------------------------------------------------------------------------

Question 28- Write a python program using RegEx to remove <U+..> like symbols

In [142]:
def remove_U_symbol(text):
#define pattern
    pattern= r'<U\+[0-9A-Fa-f]+>'
#use re.sub(pattern,replacement,string,flags(none)) 
    return re.sub(pattern,'',text)
   

#sentence to change
text_with='@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders'
text_replace=remove_U_symbol(text_with)
print(text_replace)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

---------------------------------------------------------------------------------------------------------------------

Question 29- Write a python program to extract dates from the text stored in the text file.

In [143]:
#creat file
f1=open('C:\\Users\\eitha\\OneDrive\\Documents\\fliprobo\\Question_29.txt','w')

f1.write('I was born on 18-04-1991 and and my sister was born 21-05-1992.')

f1.close()

In [144]:
def extract_dates_file(file_path):
    #Open file in read mode
    with open(file_path,'r') as file:
        #read file content
        text=file.read()
        #Define pattern to match date
        pattern=r'\b\d{2}-\d{2}-\d{4}\b'
        #use findall to match pattern of all dates
        dates=re.findall(pattern,text)
        return dates
    
#show path of file   
file_path='C:\\Users\\eitha\\OneDrive\\Documents\\fliprobo\\Question_29.txt'
#call function to extract dates
extract_dates=(extract_dates_file(file_path))
print(extract_dates)

['18-04-1991', '21-05-1992']

---------------------------------------------------------------------------------------------------------------------

Question 30- Create a function in python to remove all words from a string of length between 2 and 4.

In [145]:
#define function
def remove_words(string):
#Use compile regex pattern to match words between 2 and 4 characters in length
    pattern= re.compile(r'\b\w{2,4}\b')
    result= pattern.sub( '',string)
    return result
# show string
string=("The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly.")
# call function 
without_words=remove_words(string)
print(without_words)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.

---------------------------------------------------------------------------------------------------------------------

END OF ASSIGNMENT 3